*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
.idea
nbproject/
/config/db.php
/config/auth.php
/config/ormauth.php
/config/promoter.php
/config/simpleauth.php
/config/test/db.php
/config/production/db.php
/config/*/auth.php
/config/*/ormauth.php
/config/*/promoter.php
/config/*/simpleauth.php